<div class="body">
  <div class="container">
    <h1>Registro de Productos</h1>
    <form>
      <div class="form-group">
        <label for="nombre">Nombre del producto</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del producto">
      </div>
      <div class="form-group">
        <label for="marca">Marca</label>
        <input type="text" class="form-control" id="marca" placeholder="Ingrese la marca del producto">
      </div>
      <div class="form-group">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" id="modelo" placeholder="Ingrese el modelo del producto">
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" placeholder="Ingrese el color del producto">
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" rows="3" placeholder="Ingrese la descripción del producto"></textarea>
      </div>
      <div class="form-group">
        <label for="sku">Código SKU</label>
        <input type="text" class="form-control" id="sku" placeholder="Ingrese el código SKU del producto">
      </div>
      <div class="form-group">
        <label for="material">Material</label>
        <input type="text" class="form-control" id="material" placeholder="Ingrese el material del producto">
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad de productos</label>
        <input type="number" class="form-control" id="cantidad" placeholder="Ingrese la cantidad de productos">
      </div>
      <div class="separator"></div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
      </div>
    </form>
  </div>
</div>
