<div class="card">
  <h5 class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <span>Lista de clientes</span>
      <button type="button" class="btn btn-primary" [routerLink]="['/clientes', 0]">Registrar cliente</button>
    </div>
  </h5>
  <div class="card-body">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">RFC</th>
          <th scope="col">Correo</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of ListaClientes">
          <th scope="row">{{cliente.id}}</th>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellidoPaterno}}</td>
          <td>{{cliente.apellidoMaterno}}</td>
          <td>{{cliente.rfc}}</td>
          <td>{{cliente.correo}}</td>
          <td>{{cliente.telefono}}</td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm move-right"
              [routerLink]="['/clientes', cliente.id]">Modificar</button>
            <button type="button" class="btn btn-danger btn-sm ms-2"
              (click)="eliminarCliente(cliente)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
