
<body>

  <div class="container h-100">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <a href="#" class="text-decoration-none">
        <div class="card gr-1">
          <div class="txt">
            <h1>VENTA </h1>
            <p>Registrar una venta de productos.</p>
          </div>
          <div class="ico-card">
            <img src="../../assets/icons/icono-venta.svg" >
        </div>
        </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <a href="#" class="text-decoration-none nav-link" routerLink="/registrar-producto">
        <div class="card gr-2">
          <div class="txt">
            <h1>REGISTRAR PRODUCTO </h1>
            <p>Registrar un producto nuevo en el sistema.</p>
          </div>
        <div class="ico-card">
          <img src="../../assets/icons/icono-registrar.svg" >
        </div>
        </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <a href="#" class="text-decoration-none">
        <div class="card gr-3">
          <div class="txt">
            <h1>MODIFICAR</h1>
            <p>Modificar caracteristicas o inventario de producto.</p>
          </div>
        <div class="ico-card">
          <img src="../../assets/icons/icono-modificar.svg" >
        </div>
        </div>
        </a>
      </div>

    </div>

    <div class="row align-middle">

      <div class="col-md-6 col-lg-4 column">
        <a href="#" class="text-decoration-none">
        <div class="card gr-4">
          <div class="txt">
            <h1>FACTURAR</h1>
            <p>Generar una factura para un cliente registrado.  </p>
          </div>
          <div class="ico-card">
            <img src="../../assets/icons/icono-facturar.svg" >
        </div>
        </div>
      </a>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <a href="#" class="text-decoration-none">
        <div class="card gr-5">
          <div class="txt">
            <h1>REGISTRAR CLIENTE</h1>
            <p>Registrar cliente nuevo para generar facturas.</p>
          </div>
        <div class="ico-card">
          <img src="../../assets/icons/icono-registrarcliente.svg" >
        </div>
        </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <a href="#" class="text-decoration-none">
        <div class="card gr-6">
          <div class="txt">
            <h1>CAMBIOS Y DEVOLUCIONES</h1>
            <p>Aplicar garantia a algun producto.</p>
          </div>
        <div class="ico-card">
          <img src="../../assets/icons/icono-cambios.svg" >
        </div>
        </div>
      </a>
      </div>

    </div>
  </div>
</body>



